<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Ведение групп товаров</title>
</head>

<script type="text/javascript">
    function setValue(val) {
        document.getElementById("nameGroup").value = val;
    }
</script>

<body>
<a th:href="@{/main}" id="main">Return to main menu</a><br/>
<br/>
<form method="POST"  th:object="${list}" para>
    <label>List of groups:</label>
    <select  id="groups" onchange="setValue(this.options[this.selectedIndex].text)" name="groups" style="height: 50px; width: 400px;">
        <div th:each="list :${list}">
            <option th:value="${list.id}" th:text="${list.name}"></option>
        </div>
    </select>
    <br/>
    <label>Name group:</label>
    <input id="nameGroup" th:value="${text}" type="text" name="nameGroup" style="height: 50px; width: 400px;">
    <br/>
    <br/>
    <br/>
    <input type="submit" name="insert" value="Add group" style="height: 50px; width: 400px;"/>
    <input type="submit" name="update" value="Change group" style="height: 50px; width: 400px;"/>
    <input type="submit" name="delete" value="Delete group" style="height: 50px; width: 400px;"/>
</form>
</body>
</html>

