<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Основное меню</title>
</head>
<body>
    <form method="POST">
        <input type="submit" name="group" value="Group Directory" style="height: 50px; width: 400px;"/>
        <br/>
        <br/>
        <input type="submit" name="tovar" value="Product Directory" style="height: 50px; width: 400px;"/>
        <br/>
        <br/>
        <input type="submit" name="foto" value="Add a photo to the product" style="height: 50px; width: 400px;"/>
        <br/>
        <br/>
        <input type="submit" name="view" value="View products" style="height: 50px; width: 400px;"/>
        <br/>
        <br/>
    </form>
</body>
</html>

